@let f = field();

@switch (f.type) {

  @case ('text') {
    <app-text-field
      [field]="$any(f)"
      [readonly]="readonly()"
      [dirtyFieldIds]="dirtyFieldIds"
      [validationState]="validationState"
      [currentValues]="currentValues"
      [onBlur]="onBlur" />
  }

  @case ('textarea') {
    <app-textarea-field
      [field]="$any(f)"
      [readonly]="readonly()"
      [dirtyFieldIds]="dirtyFieldIds"
      [validationState]="validationState"
      [currentValues]="currentValues"
      [onBlur]="onBlur" />
  }

  @case ('select') {
    <app-select-field
      [field]="$any(f)"
      [readonly]="readonly()"
      [dirtyFieldIds]="dirtyFieldIds"
      [validationState]="validationState"
      [currentValues]="currentValues"
      [onBlur]="onBlur" />
  }

  @case ('multi-select') {
    <app-multi-select-field
      [field]="$any(f)"
      [readonly]="readonly()"
      [dirtyFieldIds]="dirtyFieldIds"
      [validationState]="validationState"
      [currentValues]="currentValues"
      [onBlur]="onBlur" />
  }

  @case ('radio') {
    <app-radio-field
      [field]="$any(f)"
      [readonly]="readonly()"
      [dirtyFieldIds]="dirtyFieldIds"
      [validationState]="validationState"
      [currentValues]="currentValues"
      [onBlur]="onBlur" />
  }

  @case ('checkbox') {
    <app-checkbox-field
      [field]="$any(f)"
      [readonly]="readonly()"
      [dirtyFieldIds]="dirtyFieldIds"
      [validationState]="validationState"
      [currentValues]="currentValues"
      [onBlur]="onBlur" />
  }

  @case ('file-upload') {
    <app-file-upload-field
      [field]="$any(f)"
      [readonly]="readonly()"
      [dirtyFieldIds]="dirtyFieldIds"
      [validationState]="validationState"
      [uploadEntries]="uploadEntries"
      [dragOverFieldId]="dragOverFieldId"
      [onFileChange]="onFileChange"
      [onDragOver]="onDragOver"
      [onDragLeave]="onDragLeave"
      [onDrop]="onDrop"
      [openFile]="openFile"
      [dismissError]="dismissError"
      [deleteUploadedFile]="deleteUploadedFile" />
  }

  @case ('date-picker') {
    <app-date-picker-field
      [field]="$any(f)"
      [readonly]="readonly()"
      [dirtyFieldIds]="dirtyFieldIds"
      [validationState]="validationState"
      [currentValues]="currentValues"
      [onBlur]="onBlur" />
  }

  @default {
    <p class="form-field--unsupported">Field not supported</p>
  }

}
